* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

.container {
    width: 80%;
    margin: 0 auto;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5px;
}

.right-section {
    display: flex;
    align-items: center;
}

.right-section ul {
    list-style: none;
    display: flex;
}

.road-assistance {
    display: flex;
    padding-left: 20px;
}

.right-section ul li {
    margin-right: 20px;
}

.right-section ul li a {
    text-decoration: none;
    color: #000;
}

.right-section .navigation {
    border-right: 2px solid #ccc;
}

.road-assistance .icon {
    margin-right: 10px;
}

.flex {
    display: flex;
}

#hero-section .text-section {
    width: 45%;
}

#hero-section .image-section {
    width: 55%;
}

#hero-section,
#quote-section,
#service-section {
    padding: 80px 0;
}

#hero-section .image-section {
    background-image: url(../img/header-image.png);
    background-size: cover;
    background-position: center;
    min-height: 68vh;
}

.text-section h1 {
    font-size: 64px;
}

.orange-btn {
    background: #FF6433;
    border-radius: 12px;
    padding: 16px 40px;
    text-decoration: none;
    font-size: 15px;
    margin-top: 35px;
    display: inline-block;
    color: #fff;
}

.time-section {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.text-section .image-box {
    width: 5%;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-section .time-text {
    width: 95%;
}

.time-section img {
    width: 100%;
}

.light-grey {
    color: #939191;
}

#quote-section {
    background: #E2E6E9;
}

#quote-section .left-section,
#quote-section .right-form-section {
    width: 45%;
}

#quote-section ul {
    list-style: none;
}

#quote-section ul li {
    margin-bottom: 20px;
}

#quote-section .left-section h2 {
    margin-bottom: 30px;
    font-size: 58px;
}

#quote-section .left-section .image-box {
    width: 5%;
    margin-right: 10px;
}

#quote-section .left-section .image-box img {
    width: 100%;
}


#quote-section .left-section .text-box {
    width: 50%;
}

#quote-section .left-section .text-box h5 {
    font-size: 24px;
    margin-bottom: 5px;
}

#quote-section .right-form-section h3 {
    font-size: 48px;
}

#quote-section .right-form-section input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

/*--- about section ---*/

#about-section {
    padding: 200px 0;
}

.learnmore {
    width: 50%;
    margin-right: 30px;
}

.learnmore h3 {
    font-size: 58px;
    margin-bottom: 15px;
    color: #1E1B1B;
}

.learnmore p {
    font-size: 16px;
    color: #939191;
}

.about {
    width: 50%;
}

.listings {
    display: flex;
}

.listings-image {
    text-align: center;
    margin-right: 18px;
}

.listings-image img {
    font-size: 10px;
}

.line {
    text-align: center;
    width: 3%;
    margin: 15px 34px;
    display: flex;
}

.listings-content h5 {
    font-size: 32px;
    margin-bottom: 10px;
    color: #1E1B1B;
}

.listings-content p {
    font-size: 18px;
    color: #1E1B1B;
    opacity: 0.6;
}

/*---- service section ----*/

#service-section {
    background-color: #F2F2F2;
}

.service-header {
    text-align: center;
    margin-bottom: 60px;
}

.service-header h5 {
    font-size: 24px;
}

.service-header h2 {
    font-size: 58px;
}

.services {
    display: flex;
    justify-content: center;
    align-items: center;
}

.col1,
.col2,
.col3,
.col4 {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.col1 img,
.col2 img,
.col3 img,
.col4 img {
    margin-bottom: 10px;
}

.diagnostics,
.body-work,
.engine-repair,
.batteries,
.insurance-claim,
.oil-filter,
.custom-service {
    padding: 50px 50px;
    background-color: #fff;
    text-align: center;
}

.wheel-repair {
    padding: 50px 50px;
    background-color: #FF6433;
    color: #fff;
    text-align: center;
}

#diagnostics {
    padding: 58px 0;
}

#engine {
    padding: 53px 0;
}

.row1 {
    margin: 5px 3px 10px;
}

.row2 {
    margin: 0 3px 0;
}

.learn-about-services {
    display: flex;
    justify-content: flex-end;
}

.learn-about-services p {
    font-size: 18px;
}

/*--- experience section ----*/

.display {
    display: flex;
    width: 100%;
}

.car-getintouch {
    display: flex;
}

.car-getintouch  h5 {
    font-size: 48px;
    color: #F2F2F2;
    background-color: #FF6433;
    padding: 20px 30px;
}

.car-getintouch img {
    width: 400px;
    height: 300px;
}

.carengine img {
    width: 600px;
    height: 300px;
}

.car-getintouch img {
    z-index: 2;
}

.experience {
    background-color: #F2F2F2;
    padding: 50px 0;
}

.experience-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.professionals,
.years-of-experience,
.service-closed,
.customer-satisfaction {
    margin: 0 70px;
}

.experience-content p {
    color: #1E1B1B;
    margin-top: 10px;
}