/*---- Mobile Devices ----*/

@media (max-width: 426px) {
    /*---- header section ----*/

    .main-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .right-section {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        display: none;
    }

    .right-section .navigation ul {
        flex-direction: column;
    }

    .right-section .navigation {
        border: none;
        width: 100%;
    }

    .right-section ul li {
        padding: 10px 0;
        margin-right: 0;
    }

    .right-section ul li a {
        display: block;
    }

    .road-assistance {
        padding: 10px 0;
    }

    /*---- hero section ----*/

    .flex-sm-column {
        flex-direction: column;
    }

    #hero-section .text-section, #hero-section .image-section {
        width: 100%;
    }

    #hero-section .text-section {
        order: 2;
    }

    #hero-section .image-section {
        order: 1;
    }

    .text-section h1 {
        font-size: 35px;
    }

    /*---- quote section ----*/

    #quote-section .left-section, #quote-section .right-form-section {
        width: 100%;
    }

    #quote-section .left-section .image-box {
        width: 10%;
    }

    #quote-section .left-section .text-box {
        width: 80%;
    }

    #quote-section .left-section h2, #quote-section .right-form-section h3 {
        font-size: 35px;
    }

    #quote-section .left-section {
        margin-bottom: 40px;
    }

    /*---- about section ----*/

    #about-section {
        padding: 50px 0;
    }

    .learnmore {
        width: 100%;
        margin-bottom: 150px;
    }

    .orange-btn {
        font-size: 12px;
        padding: 16px 20px;
    }

    .learnmore h3 {
        font-size: 35px;
    }

    .about {
        width: 100%;
    }

    #one,
    #two,
    #three {
        width: 85%;
    }

    .listings-content h5 {
        font-size: 25px;
    }

    .listings-content p {
        font-size: 16px;
    }

    /*---- service section ----*/

    .service-header h2 {
        font-size: 35px;
    }

    .diagnostics,
    .body-work,
    .engine-repair,
    .wheel-repair,
    .batteries,
    .insurance-claim,
    .oil-filter,
    .custom-service {
        width: 100%;
        margin-bottom: 10px;
    }

    /*---- experience section ----*/

    .car-getintouch,
    .display-text,
    .carengine {
        width: 100%;
    }

    .car-getintouch {
        padding-bottom: 200px;
    }

    .display-text {
        min-height: 100vh;
    }

    .experience-content {
        flex-direction: column;
        text-align: center;
        padding-top: 470px;
    }

    .professionals,
    .years-of-experience,
    .service-closed,
    .customer-satisfaction {
        margin: 0 0 20px;
    }

    /*---- brand section ----*/

    #brand-section {
        margin-bottom: 0;
    }

    .brand-header h5 {
        font-size: 35px;
    }

    .vector {
        width: 100%;
        justify-content: center;
        margin-bottom: 60px;
    }

    .vector:last-child {
        margin-bottom: 0;
    }

    .division2 {
        display: none;
    }

    /*---- reviews section ----*/

    .reviews-header h3 {
        font-size: 35px;
    }

    .review-content {
        width: 100%;
        padding: 30px;
        margin-bottom: 30px;
    }

    .arrow-navigations {
        margin-top: -20px;
    }

    .arrow-navigations img {
        width: 10%;
    }

    /*---- faq section ----*/

    #faq-section {
        padding: 60px 0;
    }

    .faq-content {
        margin: 0;
    }

    .content {
        padding-left: 10px;
    }

    .duration-function {
        margin-bottom: 140px;
    }

    /*---- contact section ----*/

    #contact-section {
        padding: 60px 0;
    }

    .contact-service {
        width: 100%;
        margin-bottom: 60px;
    }

    .contact-service h3 {
        font-size: 35px;
        margin-bottom: 40px;
    }

    .contacts {
        width: 100%;
        padding-left: 0;
    }

    .contacts ul p {
        font-size: 22px;
    }

    /*---- footer ----*/

    .footer-nav-links {
        display: none;
    }

    .footer-logo,
    .footer-text {
        width: 100%;
    }

    .footer-text p {
        text-align: center;
    }
}

/*---- Tablet Devices ----*/

@media (min-width: 540px) and (max-width: 769px) {
    /*---- default settings ----*/

    .container {
        overflow-x: hidden;
        width: 90%;
        margin: 0 50px;
    }

    /*---- header section ----*/

    .right-section .navigation {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        display: none;
    }

    /*---- hero section ----*/

    .text-section h1 {
        font-size: 45px;
    }

    /*---- quote section ----*/

    #quote-section .left-section {
        margin-right: 40px;
    }

    #quote-section .left-section h2 {
        font-size: 40px;
    }

    #quote-section .left-section .image-box {
        width: 13%;
    }

    #quote-section .left-section .text-box {
        width: 80%;
    }

    #quote-section .right-form-section h3 {
        font-size: 40px;
    }

    /*---- about section ----*/

    #about-section {
        padding: 100px 0;
    }

    .learnmore h3 {
        font-size: 40px;
    }

    .about {
        margin-top: 0;
    }

    #one,
    #two {
        width: 80%;
    }

    #three {
        width: 95%;
    }

    .listings-content h5 {
        font-size: 28px;
    }

    .listings-content p {
        font-size: 15px;
        margin-bottom: 10px;
    }

    /*---- service section ----*/

    .service-header h2 {
        font-size: 43px;
    }

    .services-section1,
    .services-section2 {
        flex-wrap: nowrap;
    }

    .diagnostics,
    .body-work,
    .engine-repair,
    .wheel-repair,
    .batteries,
    .insurance-claim,
    .oil-filter,
    .custom-service {
        width: 160px;
        padding: 30px;
    }

    #diagnostics {
        padding: 30px;
    }

    .learn-about-services {
        width: 95%;
    }

    /*---- experience section ----*/

    .display {
        height: 75vh;
    }

    .display-text h5 {
        font-size: 30px;
        padding: 25px 30px 30px;
    }

    .display-text a {
        margin-left: 30px;
    }

    .car-getintouch {
        width: 20%;
    }

    .carengine {
        width: 40%;
    }

    .experience-content {
        justify-content: center;
        align-items: center;
    }

    .professionals,
    .years-of-experience,
    .service-closed,
    .customer-satisfaction {
        width: 30%;
    }

    .exp-paragraph-text {
        width: 100%;
    }
}

/*---- Laptop Devices ----*/

@media (min-width: 970px) and (max-width: 1025px) {

    /*---- hero section ----*/
    .text-section h1 {
        font-size: 40px;
    }

    /*---- quote section ----*/

    #quote-section .flex-sm-column {
        justify-content: space-between;
    }

    #quote-section .left-section h2,
    #quote-section .right-form-section h3 {
        font-size: 43px;
    }

    #quote-section .left-section .image-box {
        width: 12%;
    }

    #quote-section .left-section .text-box {
        width: 100%;
    }

    #quote-section .right-form-section h3 {
        margin-bottom: 15px;
    }

    /*---- about section ----*/

    .learnmore h3 {
        font-size: 43px;
    }

    .listings-content h5 {
        font-size: 30px;
    }

    #one,
    #two,
    #three {
        width: 80%;
    }

    /*---- service section ----*/

    .service-header h2 {
        font-size: 45px;
    }

    .services-section1,
    .services-section2 {
        flex-wrap: nowrap;
    }

    .learn-about-services {
        width: 100%;
    }

    /*---- experience section ----*/

    .display-text h5 {
        font-size: 30px;
        padding: 25px 40px 30px;
    }

    /*---- brand section ----*/

    .vector {
        width: 100%;
    }

    /*---- faq section ----*/

    .content {
        padding-left: 10px;
    }

    /*---- footer section ----*/

    .footer-logo {
        width: 30%;
    }

    .footer-nav-links ul li a {
        margin-right: 10px;
    }
}